Collective attributes from multiple sources are not combined

When collective multi-value attributes of the same type are inherited from multiple sources, only attribute values from one source are currently applied. Values from other sources are ignored.

I suspect this issue originates from the following code: https://github.com/WrenSecurity/wrends/blob/main/opendj-server-legacy/src/main/java/org/opends/server/types/Entry.java#L3027-L3033

**Expected behavior:**

According to [RFC 3671, section 1.2 ("Collective Attributes")](https://www.rfc-editor.org/rfc/rfc3671.html#section-1.2), collective attributes inherited from multiple sources should be combined, aggregating all attribute values.

> When an entry belongs to multiple entry collections, the entry's
> values of each collective attribute are combined such that
> independent sources of these values are not manifested to clients.

**Affected version:**

Wren:DS 5.0.1