CoreSyntaxImpl cites RFC4512 but Probably Means RFC4517

`org.forgerock.opendj.ldap.schema.CoreSchemaImpl.defaultSyntaxes()` cites [RFC4512](https://tools.ietf.org/html/rfc4512) as the source of all of the default syntaxes. The problem with this is that RFC4512 does not actually define any LDAP syntax types; that's handled by [section 3.3 of RFC4517](https://tools.ietf.org/html/rfc4517#section-3.3).

I believe this is a citation typo.